@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

$body-font-family: 'Inter';

$font-weights: (
    'bolder': 800
);

.headline {
    font-size: 1.75rem !important;
    font-weight: 600 !important;
}

.v-btn--fab.v-size--large.v-btn--absolute.v-btn--bottom {
    bottom: 24px !important;
}

.theme--light.v-application {
    background-color: #E5E5E5 !important;
}